#login-page {
  position: relative;
  height: 100vh;
}

.login-header {
  font-family: 'Russo One';
  text-align: center;
  margin-top: 10vh;
}

.login-button {
  width: max-content;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  padding: 0.5rem;
  background-color: #1877f2;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}

#background-logo {
  position: absolute;
  bottom: 0;
  opacity: 0.25;
}
