#back-svg {
  transform: rotate(180deg) scale(0.9);
}

.contact img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.contact {
  display: flex;
  padding: 0.5rem 0 0 0.5rem;
  gap: 1rem;
  cursor: pointer;
}

.contact:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.contact-info {
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  width: 100%;
  overflow: hidden;
}

.contact-name {
  font-size: 1.5em;
}

.contact-message {
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
