.navbar { 
    flex-shrink: 0;
    width: 100%;
    height: 96px;
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar-left {
    padding-left: 1em;
}

.navbar-right {
    padding-right: 1em;
}

.navbar-button {
    cursor: pointer;
}

.navbar-button--text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    gap: .3em;
}

.navbar-button--text .icon {
    width: 1.4em;
    height: 1.4em;
}
