* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon-blue {
  /* RGB Equivalent = #38a0ff */
  filter: invert(58%) sepia(36%) saturate(4581%) hue-rotate(187deg) brightness(101%) contrast(101%);
}

.text-blue {
  color: #38a0ff;
}

.scroll-element {
  overflow-y: auto;
}

.scroll-element::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-element::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.scroll-element::-webkit-scrollbar-thumb {
  background-color: rgba(56, 160, 255, 0.65);
  border-radius: 10px;
}
